p{
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.heading--text {
    font-weight: bold;
    font-size: 30px;
    color:#121212;
}

.sub__heading--text {
    font-size: 15px;
    font-weight: 400;
}